**/.vs
**/.vscode
**/.cursor
**/bin
**/obj
**/artifacts
**/node_modules
**/.git
**/.gitignore
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/*.md
**/infra
**/.devcontainer
**/tests
**/*.user
**/*.env
